* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 3, 129, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: "Londrina Solid", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 1rem;
  letter-spacing: 0.09rem;
}

button {
  cursor: pointer;
}

.score {
  border: 1px solid black;
  background-color: beige;
  color: black;
  padding: 1rem;
  border-radius: 4px;
}
